[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FuncDiv"]
	path = FuncDiv
	url = https://github.com/gavinmdouglas/funcdiv
[submodule "POMS"]
	path = POMS
	url = https://github.com/gavinmdouglas/poms
